* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #8f4207;
    text-align: center;
    padding: 40px;
    color: #c27933;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

main {
    width: 100vw;
    min-height: 1400px;
    margin: 0 auto;
    padding: 0;
    background-color: #c27933;
}

.Links {
    justify-content: space-around;
    text-decoration: none;
}

.Links ul {
    list-style-type: none;
}

.Links li {
    display: inline-block;
    margin: 0 10px;
}

.Links a {
    text-decoration: none;
    color: #c27933;
}

.Links a:hover {
    color: #fff;
}

#email{
    position: relative;
    top: 200px;
    text-align: center;
}

#nome{
    position: relative;
    top: 250px;
    text-align: center;
}

#text{
    position: relative;
    top: 300px;
    text-align: center;
}

#botao{
    position: relative;
    top: 350px;
    text-align: center;
}

footer{
    background-color: #8f4207;
    text-align: center;
    padding: 40px;
    color: #c27933;
    width: 100%;
    z-index: 1000;
}